* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 , h4, h5 ,h6 ,p, a ,li , button, span
{
  font-family: "Oswald", sans-serif;
}

/* NAVBAR */
a
{
  text-decoration: none;
}
li
{
  list-style: none;
}
.navbar
{
    padding: 0 40px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1612;
}
.navbar .burger 
{
  display: none;
}

.navbar .logo 
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.navbar .logo h3
{
  font-size: 22px;
}

.navbar .logo img 
{
  width: 38px;
  height: 38px;
}

.navbar .logo .h3 a {
  color: #ffffff;
  font-weight: 400;

}

.navbar .menu .nav-links 
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.navbar .menu .nav-links a{
  font-size: 14px;
  color: white;
}
@media (max-width: 900px) {
  .navbar .menu
  {
    display: none;
  }
  .navbar .burger 
  {
    display: block;
  }
  .navbar .burger div
  {
    background-color: white;
    height: 3px;
    width: 40px;
    margin-bottom: 5px;
  }
  
}

/* HERO SECTION */

.hero 
{
  height: 90vh;
  background-image: url(/project1/Assets/BGG.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}
.hero .content
{
  height: 265;
  width: 605;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 40px;
}
.hero .content h3
{
  color: blue;
  font-size: 30px;
}
.hero .content h1
{
  font-size: 60px;
  color: blueviolet;
}
@media(max-width:700px)
{
  .hero{
    background-position: right;
    justify-content: center;
    padding-right: 0;
    padding: 0 20px;

  }
  .hero .content
  {
    width: 405px;
    height: 265px;
    padding: 0 20px;
    gap: 20px;
  }
  .hero .content h3 
  {
    font-size: 20px;
  }
  .hero .content h1 {
    font-size: 40px;
    line-height: 40px;
  }
}




