* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
span {
  font-family: "Oswald", sans-serif;
}

/* NAVBAR */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.navbar {
  padding: 0 40px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1612;
}
.navbar .burger {
  display: none;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.navbar .logo h3 {
  font-size: 22px;
  color: white;
}

.navbar .logo img {
  width: 38px;
  height: 38px;
}

.navbar .logo .h3 a {
  color: #ffffff;
  font-weight: 400;
}

.navbar .menu .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.navbar .menu .nav-links a {
  font-size: 14px;
  color: white;
}
@media (max-width: 900px) {
  .navbar .menu {
    display: none;
  }
  .navbar .burger {
    display: block;
  }
  .navbar .burger div {
    background-color: white;
    height: 3px;
    width: 40px;
    margin-bottom: 5px;
  }
}

/* HERO SECTION */

.hero {
  height: 90vh;
  background-image: url(/project1/Assets/BGG.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}
.hero .content {
  height: 265;
  width: 605;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 40px;
}
.hero .content h3 {
  color: yellow;
  font-size: 30px;
}
.hero .content h1 {
  font-size: 60px;
  color: white;
}
@media (max-width: 700px) {
  .hero {
    background-position: left;
    justify-content: center;
    padding-right: 0;
    padding: 0 20px;
  }
  .hero .content {
    width: 405px;
    height: 265px;
    padding: 0 20px;
    gap: 20px;
  }
  .hero .content h3 {
    font-size: 20px;
  }
  .hero .content h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

/* About Section */

.about {
  background-color: #23242b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
  gap: 300px;
}

.about h2 {
  font-size: 50px;
  color: #8e8e8e;
}

.about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}
.about-container img {
  height: 80px;
  width: 80px;
}

.about .about-container .about-card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.about .about-container .about-card h3 {
  font-size: 15px;
  color: white;
  font-weight: 400;
}
.about .about-container .about-card p {
  font-size: 13px;
  color: #717a87;
  text-align: center;
}

@media (max-width: 600px) {
  .about {
    padding: 100px 0;
    gap: 50px;
  }
}
/* Services Section */

.services {
  background-color: #23242b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
  gap: 300px;
}
.services h2 {
  font-size: 50px;
  color: #8e8e8e;
}

.services .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.services-container img {
  height: 300px;
  width: 300px;
}
.services .services-container .services-card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.services .services-container .services-card h3 {
  color: white;
}

/* projects */
.projects {
  background-color: #23242b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
  gap: 300px;
}
.projects h2 {
  font-size: 50px;
  color: #8e8e8e;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.project-container img {
  height: 50px;
  width: 100%;
}
.projects .projects-container .project-card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.projects .project-container .project-card h3 {
  color: white;
}
.projects .projects-container .project-card h3 {
  color: white;
}

@media (max-width: 600px) {
  .projects {
    padding: 100px 0;
    gap: 50px;
  }
}
